.fa-eye {
    font-size: 50px;
}

.page-header ,
.headerList{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.header {
    float: left;
    font-weight: 600;
}

h1,
h3 {
    padding-right: 10px;
    font-weight: 500;
}

.btn-primary {
    /* background-color: #337ab7; */
    background-color: #e4a214;
    border-color: black;
}

.left {
    float: left;
}

.list-10-books {
    float: left;
    margin-top: 15px;
    padding-left: 60px;
    display: none;
    /* display: block; */
}

input{
    margin-bottom: 8px;
}

ol {list-style: none; counter-reset: li}

ol li{
    font-size: 16.5px;
 counter-increment: li;
}

ol li::before {content: counter(li); color: orange;
    display: inline-block; width: 1em; margin-left: -1.5em;
    font-weight: 600;
    margin-right: 0.5em; text-align: right; direction: rtl}



